---
 const personalImageAlt = "Yeison Fajardo"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>Soy Yeison Fajardo, un estudiante universitario en la carrera de Desarrollo de Software.
       Mi interés por la programación comenzó a los 16 años, 
       y con 19 años he tenido la oportunidad de realizar varios cursos 
       donde, en varias ocasiones,
      <strong
        >asumí el rol de líder, organizando y 
        testeando el trabajo del equipo.
        He aprendido en profundidad tecnologías como JavaScript, React, bases de datos, MongoDB, Vite y Astro.</strong
      >.
      Mi pasión por seguir aprendiendo y mejorar constantemente 
      me impulsa a seguir creciendo en este emocionante mundo.
    </p>
  </div>

  <img width="200" height="200" src="https://private-user-images.githubusercontent.com/86833571/397163173-0ce84402-8635-47f1-a4c1-1d606464bf84.jpeg?jwt=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJnaXRodWIuY29tIiwiYXVkIjoicmF3LmdpdGh1YnVzZXJjb250ZW50LmNvbSIsImtleSI6ImtleTUiLCJleHAiOjE3MzQ1NjU3NjYsIm5iZiI6MTczNDU2NTQ2NiwicGF0aCI6Ii84NjgzMzU3MS8zOTcxNjMxNzMtMGNlODQ0MDItODYzNS00N2YxLWE0YzEtMWQ2MDY0NjRiZjg0LmpwZWc_WC1BbXotQWxnb3JpdGhtPUFXUzQtSE1BQy1TSEEyNTYmWC1BbXotQ3JlZGVudGlhbD1BS0lBVkNPRFlMU0E1M1BRSzRaQSUyRjIwMjQxMjE4JTJGdXMtZWFzdC0xJTJGczMlMkZhd3M0X3JlcXVlc3QmWC1BbXotRGF0ZT0yMDI0MTIxOFQyMzQ0MjZaJlgtQW16LUV4cGlyZXM9MzAwJlgtQW16LVNpZ25hdHVyZT1kYjZlNDRmZTJiZmNhZmNmNTMyNjM2MzA3MDE4ZmRkNzIxMjU2ZGNhODg3OTBiODlmMzg3NDc3MWYyMjMxMTkzJlgtQW16LVNpZ25lZEhlYWRlcnM9aG9zdCJ9.ZrIhoZNZoWVPyT5v3b_5IjFGtVwoeWVHVzvrC8NVbBM" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>