---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Actualmente",
    title: "Universidad",
    company: "Universidad Provincial de Ezeiza",
    description:
      "Soy un estudiante de Desarrollo de Software en la universidad, apasionado por crear soluciones innovadoras y eficientes.",
    link: "https://web.upe.edu.ar/",
  },
  {
    date: "Julio 2023",
    title: "Desarrollo Web 3",
    company: "Aprende Programando",
    description:
      "Completé un curso avanzado donde aprendí a utilizar React para desarrollar aplicaciones web interactivas y eficientes, creando interfaces de usuario manejables y dinámicas. ",
      link: "https://www.linkedin.com/in/yeison-fajardo-105871341/overlay/1734480839735/single-media-viewer/?profileId=ACoAAFW8LlUBLECRfqM4hHbTz12h6A_qfDx7REk",
  },
  {
    date: "Diciembre 2022",
    title: "Desarrollo Web 2",
    company: "Aprende Programando & Universidad Tecnologica Nacional",
    description:
      "Completé un curso intensivo donde aprendí a desarrollar aplicaciones web dinámicas utilizando JavaScript y gestionando datos con bases de datos relacionales como MySQL.",
      link: "https://www.linkedin.com/in/yeison-fajardo-105871341/overlay/1734480821249/single-media-viewer/?profileId=ACoAAFW8LlUBLECRfqM4hHbTz12h6A_qfDx7REk",
  },
  {
    date: "Enero 2022",
    title: "Desarrollo Web 1",
    company: "Aprende Programando & Universidad Tecnologica Nacional",
    description:
      "Completé un curso introductorio donde aprendí los fundamentos de HTML, CSS y JavaScript, creando páginas web estáticas y dinámicas.",
      link: "https://www.linkedin.com/in/yeison-fajardo-105871341/overlay/1734480797995/single-media-viewer/?profileId=ACoAAFW8LlUBLECRfqM4hHbTz12h6A_qfDx7REk",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>

