---
const { href, class: className } = Astro.props;
---

<a
  href={href}
  target="_blank"
  rel="noopener noreferrer"
  class={`inline-flex items-center justify-center gap-2 px-4 py-1 text-slate-300 transition-all duration-300 bg-slate-800 border border-slate-700/50 rounded-full hover:bg-violet-900/30 hover:border-violet-700/50 hover:text-violet-300 ${className}`}
>
  <slot />
</a>